// Components
.navbar {
  justify-content: space-between;
  padding: $unit * 2 $unit * 3;
}

header {
  @media (min-width: 60rem) {
    grid-auto-flow: column;
  }
}

// Display
.display-flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }
}

.display-grid {
  display: grid;
  grid-gap: $unit * 2;

  &--columns {
    grid-auto-flow: column;
  }
}

.container {
  max-width: 80rem;
  padding-left: $unit * 3;
  padding-right: $unit * 3;
}

// Utilities
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
