input:not([type="hidden"]) {
  border-radius: $border-radius/2;
  border: 1px solid scale-color(theme-color(gray), $lightness: 10%);
  min-height: 44px;
  padding: 0.25em 0.5em;
  transition: 280ms box-shadow ease-in-out;
  color: inherit;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px scale-color(theme-color(secondary), $lightness: 30%);
  }
}

label {
  font-family: $headline-font-family;
  color: theme-color(secondary);
  font-weight: 700;
  font-size: $lead-font-size * 0.75;
}
